html {
  overflow-y: scroll;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  font-family: Helvetica, Arial, sans-serif;

  background: var(--color-ground);
  color: var(--color-text);
}

* {
  box-sizing: border-box;
}
