POSTGRES_HOST=localhost
POSTGRES_DB=movieproject_test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_test_password_here
POSTGRES_PORT=5433
JWT_SECRET=test_only_jwt_secret
TMDB_API_TOKEN=not_required_for_registration_tests