.favourites-movie-info p.reviews-text {
  display: -webkit-box;
  margin-top: 10px;
  overflow: hidden;
  color: var(--color-text);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}